.container{
  height: 500px;
  width: 500px;
  margin: 0 auto; 
  border: 0;
  text-align: center;
}

.box{
  width:150px; 
  height:150px; 
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
}


.defaultcolor{
  background-color: red;
  height: 150px;
  width: 150px;
  font-family: 'Varela Round', sans-serif;
  font-size: 100pt;
}

.header{
  text-align: left;
  font-family: arial;
  font-size: 35pt;
  color: black;
  width: 150px; 
  height: 150px; 
  display: table-cell;
}

/*the usual suspects begin*/
.float_right{
  float: right;
}
.float_left{
  float: left;
}
/*needed to cause auto expansion of container div*/
.clearboth{
  clear: both;
}
/*the usual suspects end*/
html {
    height: 100%;
    }

body {
    height: 100%;
    }