/*normal screen*/
div{
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}
input{
  height: 30px;
  width: 222px;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  margin: 7px;
}
button{
  height: 36px;
  width: 100px;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  border-radius: 5px;
  background-color: white;
}
.announcer select{
  width: 100px;
  padding: 5px;
  font-size: 20px;
  border:0;
  height: 36px;
  font-family: 'Varela Round', sans-serif;
}
.section{
  clear: both;
  padding: 0px;
  margin: 0px auto;
  width: 400px;
}

.header{
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  font-size: 35px;
  color: black;
  display: table-cell;
  width: 100%;
}
.header.col.tile{
  text-align: left;
  background-color: white;
}
.header.col.tile.score{
  text-align: center;
  font-size: 20px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0% 0 0% 0%;
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
}
.col:first-child { margin-left: 0; }


/*GROUPING*/
/*Solve floating problem - the clearfix*/
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.tile {
  width: 32.26%;
  background-color: red;
  position: relative;
  width: 128px;
  height: 128px;
} 
/*TO auto size - DISABLED*/
/*.tile:before{
  content: "";
  display: block;
  padding-top: 100%;
}*/
.xclass{
  background-image: url('../images/X.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.oclass{
  background-image: url('../images/O.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
/*Style when hovered*/
.hoverclass{
  background-color: pink;
}

.lossClass{
  opacity: 0.2;
}

.announcer{
  z-index: 9999;
  position: relative;
  display: inline-table;
  width: 350px;
  height: 100px;
  background-color: rgba(0,0,0,0.8);
  margin:0;
  border-radius: 10px;
  top:-248px;
  left: 23px;
  color: white;
  text-align: center;
}
.resetButton{
  background-color: gray;
  width: 50px;
}
.chatContainerBox{
  clear: both;
  z-index: 9999;
  position: relative;
  display: inline-table;
  width: 395px;
  height: 200px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 0px auto;
}
input.typeBox {
  clear: both;
  float: right;
  height: 30px;
  width: 385px;
  font-size: 12px;
  font-family: 'Courier';
  margin: 7px;
  background-image:url('../images/up.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: right; 
}
div.announcer.userInput{
  text-align: left;
  /*display: block;*/
}
div.chatContainerBox{
  font-family: 'Courier';
  word-wrap: break-word;
  font-size: 12px;
  text-align: left;
  border-radius: 10px;
  display: inline-block;
  height: 30px;
  width: 350px;
  vertical-align: middle;
  background-color: lightblue;
  color: black;
  line-height: 30px;
  padding: 0 5px;
  margin: 3px;
}
.section.group.chatBox{
  width: 400px;
  height: 500px;
  overflow: scroll;
}
div.textRightAlign{
  text-align: right;
  background-color: rgba(255,255,255,0.7);
}
/*MOBILE DEVICE CUSTOM*/
@media (max-width: 450px){
  .section {
    width: 350px;
    margin: 0 auto;
  }
  .header{
    font-size: 25px;
  }
  .tile{
    width: 113px;
    height: 113px;
  }
}