<!DOCTYPE html>

<html ng-app="tictactoeApp">
	<head>
		<meta charset="utf-8">

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
		<!-- Firebase -->
		<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
		

		<title>Tic Tac Boo</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">

		<!--Ask what this is from template-->
		<script type="text/javascript" src="js/main.js"></script>
        <!-- <script src="js/main.js" async></script> -->
	</head>

	<body ng-controller="tttController">
		<h1>Tic Tac Boo</h1>
			
		<!-- Call function to connect & sync to Firebase -->
		<div ng-hide="dbConnected">
			<p>Enter your name: <input type="text" ng-model="db.playerName"></p>
			<button ng-click="connectDB()">Connect To Server</button>
		</div>

		<!-- Shows status while connecting to Firebase -->
		<div ng-show="dbConnecting">
			<p>Connecting to database ...</p>
		</div>

		<!-- ends and resets game -->
		<!-- <button ng-click="db.gameInProgress=false">End Game</button> -->
		<div ng-show="dbConnected">
			<button ng-click="endGame()">End Game</button>
			<div ng-hide="db.gameInProgress">
			</div>

			<hr>
			<p>YOUR PLAYER NUMBER IS: {{ db.playerNumber }}</p>

			<p></p>

			<p>Your Player Name: <input type="text" ng-model="db.players[playerNumber].name"></p>
			<p>Other Players:
				<ul>
					<!-- will show other player in game -->
					<li ng-repeat="p in db.players track by $index">{{ p.name }}</li>
				</ul>
			</p>

			<hr>

			<p></p>
		</div>


			<h2>Boo and Buddy</h2>

			<div ng-show ="boowins" class="boowins">
				<p>Player One Wins</p>
			</div>
			<div ng-show ="buddywins" class="buddywins">
				<p>Player Two Wins</p>
			</div>
			<div ng-show ="itsatie" class="itsatie">
				<p>It's a Tie!!</p>
			</div>
		
		<div id="container">
    		<div ng-repeat="s in db.squares track by $index" ng-class="{cell:true, potato: ($index % 3 == 0), rightLine: ($index % 3 != 2), bottomLine: ($index <= 5), boo: s==1, buddy: s==-1}" ng-click="placeMarker($index)">
    		</div>
    	</div>
	</body>
</html>
