<!DOCTYPE html>
<html ng-app="myTTTapp">
<head>
</head>
  <!-- GOOGLE FONTS FOR NOUGHTS AND CROSSES Xs 'n Os -->
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <!-- MAIN STYLESHEET -->
  <link rel="stylesheet" href="css/style.css">
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script> 
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
  <!-- MAIN JS FILE -->
  <script src="script/main.js"></script>
<body ng-controller="TTTCtrl">

  <div class="section group">
    <p class="header col tile">TIC<br>TAC<br>TOE</p>
    <p class="header col tile score">
      {{player[0].name}} ({{player[0].tilechoice}})<img src="images/wincheck.png" height="20" width="20"><br/>
      {{player[0].score}}<br />
      {{player[0].time/1000+' s'}}
    </p>
    <p class="header col tile score">
      {{player[1].name}} ({{(player[0].tilechoice=='X')? 'O':'X'}})<br/>
      {{player[1].score}}<br />
      {{player[1].time/1000+' s'}}
    </p>
  </div>

<!-- USER INPUT NAME AND GAME MODE -->
    <!-- Make sure to turn of part asking user name after first play -->
  <div class="section group">
    <div ng-model="isFirstPlay" ng-hide="isFirstPlay">
      <input ng-model="player[0].name" placeholder="Player A Name"/>
      <select ng-model="player[0].tilechoice">
        <option value="X" selected>X</option>
        <option value="O">O</option>
      </select>
      <br />
      <input ng-model="player[1].name" placeholder="Player B Name"/>
      <button ng-click="[updatePlayer(),isFirstPlay='true']" 
      ng-disabled="player[0].name.length==0 || player[1].name.length==0">PLAY</button>
      {{}}
    </div>

  <div class="section group">
    <!-- TIC TAC TOE BOARD -->
    <div class="col tile"
      ng-repeat="tile in gameBoard"
      ng-class="{xclass: tile.status=='X', oclass:tile.status=='O', hoverclass: tile.status=='H', lossClass: tile.name=='lossClass'}"
      ng-click="chooseTile(tile)"
      ng-mouseenter="mouseEnterTile(tile)"
      ng-mouseleave="mouseLeaveTile(tile)"
      ng-show="isFirstPlay"
      >
    </div>
    <!-- REPLAY AND ANNOUNCER -->
    <div class="announcer">Congratulations, {{player[0].turnWinner?player[0].name:player[1].name}}!<br/> You wins!</div>
    <div>
      <button ng-click="reloadGame()" ng-show="isFirstPlay">PLAY AGAIN</button>
    </div>

  </div>


</body>
</html>