/*normal screen*/
.section{
  clear: both;
  padding: 0px;
  margin: 0px auto;
  width: 400px;
}

.header{
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  color: black;
  display: table-cell;
  width: 100%;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0% 0 0% 0%;
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
}
.col:first-child { margin-left: 0; }


/*GROUPING*/
/*Solve floating problem - the clearfix*/
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.tile {
  width: 32.26%;
  background-color: red;
  position: relative;
  width: 128px;
  height: 128px;
} 
/*TO auto size - DISABLED*/
/*.tile:before{
  content: "";
  display: block;
  padding-top: 100%;
}*/
.xclass{
  background-image: url('../images/X.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.oclass{
  background-image: url('../images/O.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
/*Style when hovered*/
.hoverclass{
  background-color: pink;
}

.lossClass{
  opacity: 0.2;
}

/*MOBILE DEVICE CUSTOM*/
@media (max-width: 450px){
  .section {
    width: 350px;
    margin: 0 auto;
  }
  .header{
    font-size: 25px;
  }
  .tile{
    width: 113px;
    height: 113px;
  }
}